{% extends 'base.html.twig' %}

{% block title %}Some Guy's Backyard{% endblock %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-xl-9 col-md-12">
            <div class="card mt-5">
                <div class="card-header">Some Guy's Backyard Membership Portal</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p>Are you new here?</p>
                            <a href="{{ path('app_subscribe') }}">
                                <div class="btn btn-secondary">Subscribe</div>
                            </a>
                        </div>
                        <div class="col">
                            <p>Already subscribed but want an account?</p>
                            <a href="{{ path('app_register') }}">
                                <div class="btn btn-secondary">Register Full Account</div>
                            </a>
                        </div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="col">
                            <p>View your Profile!</p>
                            <a href="{{ path('app_profile') }}">
                                <div class="btn btn-secondary">View Profile</div>
                            </a>
                        </div>
                        {% else %}
                            <div class="col">
                                <p>Welcome back baby!</p>
                                <a href="{{ path('app_login') }}">
                                    <div class="btn btn-secondary">Log In</div>
                                </a>
                            </div>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col">
                                <p>Special Admin Stuff!</p>
                                <a href="{{ path('easyadmin') }}">
                                    <div class="btn btn-secondary">Admin</div>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
